<!-- templates/upload_image.html -->
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Upload Image</button>
</form>

<!-- {% if form.instance.image %}
    <div>
        <img src="{{ form.instance.image.url }}" alt="Uploaded Image" style="max-width: 50%">
        <p>This is a valid image.</p>
    </div>
{% endif %} -->

{% if form.instance.image %}
    <div>
        <img src="{{ form.instance.image.url }}" alt="Uploaded Image" style="max-width: 25%">
        <p>{{ image_text }}</p> 
    </div>
{% endif %}
